<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45BA93FD1BE0B5BC002FF676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45BA94161BE0B5BD002FF676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45BA94211BE0B5BD002FF676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
